ID,nome_cogn,contatto,data_oss,note,commento,area_mq,N_approx,morti_appr,Latitude,Longitude
"2020-06-19 09:42:15",Marco,prova,1/2/2020,prova,,"100 mq ","1-2 esemplari","1-2 esemplari",45.32555,12.54913
